@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  font-family: Roboto;
}

.app {
  text-align: center;
  background-color: hsl(221, 39.3%, 11%);
  min-height: 50vh;
  width: 100vw;
  border: 3px hsl(0, 72.2%, 50.6%) solid;
  border-radius: 12px;
  display:flex;
  flex-direction:column ;
}

.header {
  font-size: 3rem;
  font-weight: bolder;
  color: #f2740d;
  height:10%;
}
