@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(217, 32.6%, 17.5%);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
